/*
tagName{

}

.className{

}

#idName{

}

px
% 
em

*/
.centerItems {
  text-align: center;
}

.test {
  font-size: 20px;
}

.extraboldTitleFont{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 128px;}

.defaultTitleFont {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 128px;
}