.loginCardContianer {
  display: flex;
  justify-content: center;
}

.loginCard {
  cursor: pointer;
  width: 250px;
  height: 250px;
  margin: 60px 40px;
  text-align: center;
}

.centerItems {
  text-align: center;
}

.titleFontSize {
  font-size: 120px;
}

.dashboardTitleFontSize {
  font-size: 40px;
}
.navBar {
  height: 70px;
}

.dashboardTitleHeader {
  padding: 20px;
}

.titleFontRed {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #cc1919;
  text-shadow: 0px 0px 0px #a0a0a0;
}

.titleFontBlue {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #29408f;
  text-shadow: 0px 0px 0px #a0a0a0;
}

.extraboldTitleFont {
  font-weight: bolder;
}

.lighterTitleFont {
  font-weight: lighter;
}

.actionSubtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 40px;
  color: #213a8e;
  padding-top: 40px;
  text-align: center;
}

.loginButton {
  margin-top: 100px;
}
/*
@media screen and (max-width: 600px) {
  .centerItems {
    text-align: left;
    padding: 70px 0 0 70px;
  }

  .test {
    font-size: 20px;
  }

  .titleFont {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 60px;
    color: #cc1919;
    text-shadow: 0px 3px 6px #a0a0a0;
  }

  .extraboldTitleFont {
    font-weight: bolder;
  }

  .lighterTitleFont {
    font-weight: lighter;
  }

  .actionSubtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    color: #213a8e;
    padding: 100px;
  }
}
*/

.card-image {
  float: left;
  width: 40%;
  height: 250px;
}
.card-image img {
  height: 100%;
}
.right-content {
  width: 60%;
  float: left;
}
.card-title {
  padding-left: 20px;
}

.hero-card {
  padding: 100px;
}

.cardTitle {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  color: #213a8e;
  margin: 30px;
}

.buttonStyle {
  margin: 50px;
  align-items: right;
}

.redbutton {
  color: #cc1919;
  height: 30px;
}

.whiteHover:hover {
  background-color: #e0e0e0 !important;
}

.hospitalDashCards {
  cursor: pointer;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-top: 20px;
  color: #213a8e;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 0px;
  margin-bottom: 60px;
}

.hospitalDashCardsDisabled {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-top: 20px;
  color: #acb6d5;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 0px;
  margin-bottom: 60px;
}

.hospitalDashCardsPad {
  padding: 10px;
}

.hospitalDashCardContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.commuteTimeCont {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
}

.waitTime {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.commuteTimeLeft {
  margin-right: 5px;
}

.commuteTimeRight {
  margin-left: 5px;
}

.commuteTime {
  padding: 2px 0px;
  width: 50%;
  margin-top: 5px;
  border-radius: 5px;
}

.boxShadowEffect {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.24), 0 1px 6px rgba(0, 0, 0, 0.12);
}

.hospitalDashIconLarge {
  font-size: 50px !important;
  padding-right: 10px;
}

.hospitalDashIconSmall {
  font-size: 35px !important;
  display: flex;
}

.waitTimeStr {
  font-size: 40px;
  padding-right: 5px;
}

.waitTimeStrSmall {
  font-size: 28px;
  padding-right: 5px;
}

.center {
  display: flex;
  align-items: center;
}

.waitUnitStr {
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  font-weight: bold;
}

.waitUnitStrSmall {
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  font-weight: bold;
}

.closedCardWaitTimeStr {
  font-size: 20px;
  font-weight: 500;
}

.clinicNameStr {
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}

.addressStr {
  margin-top: 3px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 15px;
}

.addToQueue {
  background-color: #213a8e;
  width: 100%;
  color: white;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 30px 10px;
  height: 120px;
}

.closedTxt {
  width: 100%;
  color: white;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
}

.closed {
  background-color: #c6c7cc;
  width: 100%;
  color: white;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 30px 10px;
  height: 120px;
}

.addToQueueTxt {
  padding-right: 25px;
}

.horzCenter {
  margin: auto;
}

/* TODO on all cards need to change cursor type to indicate that it should be clicked
 TODO should also make cards grow with .grow class
*/
.hoverGrow {
  transition: transform 0.5s;
}
.hoverGrow::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  content: '';
  opacity: 0;
  z-index: -1;
}

.hoverGrow:hover,
.hoverGrow:focus {
  transform: scale3d(1.02, 1.02, 1);
}

.homePageContainer {
  width: 100%;
  height: 100vh;
  background: url('https://res.cloudinary.com/dxih0rp6w/image/upload/v1548819317/sitting-patient_mljmmr.svg'),
    url('https://res.cloudinary.com/dxih0rp6w/image/upload/v1548819330/standing-doc_ppdzp7.svg');
  background-position: right -120px center, left -100px center;
  background-repeat: no-repeat, no-repeat;
  background-size: 600px 500px;
  /*
TODO firgure out why this div is not the height of the full screen
*/
}
