.cBlue-Text {
  color: #213a8e;
  /*
  color: #2195F3;
  */
}

.icon-color {
  color: #cc1919;
}

.cRed-Text {
  color: #cc1919 !important;
}

.cRed-Background {
  background-color: #cc1919;
}

.cBlue-Background {
  background-color: #213a8e;
}

/*
Custom cards
DEMO: https://codepen.io/anon/pen/xMgRQq
*/

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.cursor-pointer {
  cursor: pointer;
}

.hover-grow {
  transition: transform 0.3s;
}
.hover-grow::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  content: '';
  opacity: 0;
  z-index: -1;
}

.hover-grow:hover,
.hover-grow:focus {
  transform: scale3d(1.02, 1.02, 1);
}

.login-card-contianer {
  display: flex;
  justify-content: center;
}

.align-text-center {
  text-align: center;
}

.login-card {
  width: 250px;
  height: 250px;
  margin: 40px 40px;
  background-color: white;
}

.title-font-size {
  font-size: 120px;
}

.dashboardTitleFontSize {
  font-size: 40px;
}

.clinic-registration-form-input {
  width: 400px;
}

.nav-bar {
  height: 70px;
}

.dashboard-title-header {
  padding-right: 20px;
}

.cFont {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.cFontBold {
  font-family: 'Open Sans', sans-serif;
  font-style: bold;
}

.cFontItalics {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

.title-margin {
  padding-top: 10px;
}

.bolder {
  font-weight: bolder;
}

.lighter {
  font-weight: lighter;
}

.action-subtitle {
  font-size: 40px;
}

/*
TODO need to fix and split up CSS below
*/
.card-title {
  padding-top: 30px;
}

.actionSubtitle {
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 40px;
  color: #213a8e;
  text-align: center;
}

.loginButton {
  margin-top: 75px;
}

.card-image {
  float: left;
  width: 40%;
  height: 250px;
}
.card-image img {
  height: 100%;
}
.right-content {
  width: 60%;
  float: left;
}
.card-title {
  padding-left: 20px;
}

.hero-card {
  padding: 100px;
}

.cardTitle {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  color: #213a8e;
  margin: 30px;
}

.buttonStyle {
  margin: 50px;
  align-items: right;
}

.redbutton {
  color: #cc1919;
  height: 30px;
}

.whiteHover:hover {
  background-color: #e0e0e0 !important;
}

#form-dialog-title {
  border-bottom: 1px solid #d2d7d3;
  width: 600px;
}

#form-dialog-title {
  padding: 16px 25px;
}

.modal-form-content {
  margin-top: 20px;
}

.hospitalDashCards {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-top: 20px;
  color: #213a8e;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 0px;
  margin-bottom: 60px;
}

.hospitalDashCardsDisabled {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-top: 20px;
  color: #acb6d5;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 0px;
  margin-bottom: 60px;
}

.hospitalDashCardsPad {
  padding: 10px;
}

.hospitalDashCardContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.commuteTimeCont {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
}

.waitTime {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.commuteTimeLeft {
  margin-right: 5px;
}

.commuteTimeRight {
  margin-left: 5px;
}

.commuteTime {
  padding: 2px 0px;
  width: 50%;
  margin-top: 5px;
  border-radius: 5px;
}

.boxShadowEffect {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.24), 0 1px 6px rgba(0, 0, 0, 0.12);
}

.hospitalDashIconLarge {
  font-size: 50px !important;
  padding-right: 10px;
}

.hospitalDashIconSmall {
  font-size: 35px !important;
  display: flex;
}

.waitTimeStr {
  font-size: 40px;
  padding-right: 5px;
}

.waitTimeStrSmall {
  font-size: 28px;
  padding-right: 5px;
}

.center {
  display: flex;
  align-items: center;
}

.waitUnitStr {
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  font-weight: bold;
}

.waitUnitStrSmall {
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  font-weight: bold;
}

.closedCardWaitTimeStr {
  font-size: 20px;
  font-weight: 500;
}

.open-time-margin {
  margin: 5px 0;
}

.clinicNameStr {
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}

.addressStr {
  margin-top: 3px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 15px;
}

.addToQueue {
  background-color: #213a8e;
  width: 100%;
  color: white;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 30px 10px;
  height: 120px;
}

.closedTxt {
  width: 100%;
  color: white;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
}

.closed {
  background-color: #c6c7cc;
  width: 100%;
  color: white;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 30px 10px;
  height: 120px;
}

.addToQueueTxt {
  padding-right: 25px;
}

.horzCenter {
  margin: auto;
}

.homePageContainer {
  width: 100%;
  height: 100vh;
  background: url('https://res.cloudinary.com/dxih0rp6w/image/upload/v1548819317/sitting-patient_mljmmr.svg'),
    url('https://res.cloudinary.com/dxih0rp6w/image/upload/v1548819330/standing-doc_ppdzp7.svg');
  background-position: right -120px center, left -100px center;
  background-repeat: no-repeat, no-repeat;
  background-size: 600px 500px;
  /*
  TODO can also use query for when the page size is large than x and make the assets larger 
  */
}

/*
TODO need to add media query at 700px width to change backgroud image, one card per row, and change font size
*/

/*
TODO on home page the grey background does not extend all the way to the top
there is a small sliver of white
*/
